*{margin: 0; padding: 0; box-sizing: border-box;}

#content{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.box{
    position: relative;
    margin-top: 20vh;
}
 
.header{
    height: 20vh;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.header_top{
    width: 14vw;
    height: 2vh;
    margin-bottom: 1px;
}

.header_left{
    width: 1vw;
    height: 14vh;
}

.header_right{
    width: 1vw;
    height: 14vh;
}

.header_bottom{
    width: 14vw;
    height: 2vh;
}

.arrow_pointing_up{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid red;
    margin: auto;
}

.down_arrow{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid red;
    margin: auto;
    margin-top: 5px;
}

.right_arrow{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid red;
    margin-top: 6vh;
    margin-left: 5px;
}

.left_arrow{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid red;
    margin-top: 6vh;
}

.header_row{
    display: flex;
    justify-content: center;
    width: 14vw;
}

.avatar{
    width: 8vw;
    height: 14vh;
    background-color: blue;
    border-radius: 100px;
}

.container{
    position: absolute;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.colum_one{
    width: 45vw;
    display: flex;
    flex-direction: column;
}

.row_one{
    height: 55vh;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.row_one_colum_one{
    width: 25vw;
    margin-right: 5px;
}

.row_one_colum_two{
    width: 25vw;
    background-color: rgb(14, 14, 211);
}

.row_one_colum_one_row_one{
    height: 35vh;
    background-color: rgb(128, 7, 241);
    margin-bottom: 5px;
}

.row_one_colum_one_row_two{
    background-color: rgb(25, 223, 91);
    height: 19vh;
}

.row_two{
    height: 20vh;
    background-color: rgb(156, 18, 145);
    margin: 0px 5px 5px 5px;
}

.colum_two_row_one{
    height: 20vh;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.colum_two_row_two{
    height: 20vh;
    background-color: rgb(209, 121, 14);
    margin-top: 5px;
}

.colum_two_row_three{
    height: 34vh;
    background-color: rgb(231, 27, 27);
    margin-top: 5px;
    margin-bottom: 5px;
}

.colum_two_row_one_colum_one{
    width: 22.5vw;
    margin-right: 5px;
    background-color: black;
}

.colum_two_row_one_colum_two{
    width: 22.5vw;
    background-color: aqua;
}


